@charset "UTF-8";
/* 回答はここから */
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  list-style: none;
  display: flex;
  width: 200px;
  margin: 30px;
  outline: 10px solid #655;
  border-radius: 13px;
  box-shadow: 0 0 0 6px #665555;
  padding: 10px;
  background: #d2b48c;
}
